/*** fun classes ***/
.iivShadowBox {
  box-shadow: 0px 0px 10px 2px;
}

.iivcarte {
  transition: transform 0.2s;
  animation: fadein 2s;
}
.iivcarte:hover {
  transform: scale(1.05);
}

.iivdarkfadein-hero .container {
  opacity: 0;
  animation: iivdarkFadeIn 1s ease 0s 1 normal forwards;
}
.iivdarkfadein {
  opacity: 0;
  animation: iivdarkFadeIn 2s ease 0s 1 normal forwards;
}
@keyframes iivdarkFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.iiv_card_image{
  text-align: center;
}
.iiv_card_text {
  background: var(--iivdark-surface3);
  border-radius: 5px;
  position: relative;
  margin: -2.4285714286rem 1rem 1rem;
  padding: 1rem 1rem 1rem;
}
.iiv_card_text_date {
  text-align: right;
}
.iiv_card_text_tags a {
  border: 1px solid var(--iivdark-text1);
  text-decoration: none;
  padding: 3px 6px;
  font-size: 0.821em;
  color: var(--iivdark-text1);
}
.iiv_card_text_tags a:hover {
  border: 1px dashed var(--iivdark-text1);
}
.iiv_card_text_title a {
  text-decoration: none;
}
