/*** fun classes ***/
.iivShadowBox {
  box-shadow: 0px 0px 10px 2px;
}

/*** FadeIn effect for the title & content of hero block ***/
.iivdarkfadein-hero .container {
  opacity: 0;
  animation: iivdarkFadeIn 1s ease 0s 1 normal forwards;
}
.iivdarkfadein {
  opacity: 0;
  animation: iivdarkFadeIn 2s ease 0s 1 normal forwards;
}
@keyframes iivdarkFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*** animations for "cards" ***/
.iivcarte-scale {
  transition: transform 0.2s;
  animation: fadein 2s;
}
.iivcarte-scale:hover {
  transform: scale(1.05);
}

.iivcarte-up {
  transition: transform 0.2s;
  animation: fadein 2s;
}
.iivcarte-up:hover {
  transform: translateY(-8px);
}

/***** Home 1 *****/
.iiv-block-home-1 .iiv_card_image{
  text-align: center;
  transition: transform 0.2s;
}
.iiv-block-home-1 .views-row:hover .iiv_card_image {
  transform: scale(1.05);
}

.iiv-block-home-1 .iiv_card_text {
  background: var(--iivdark-surface3);
  border-radius: 5px;
  position: relative;
  margin: -2.4285714286rem 1rem 1rem;
  padding: 1rem 1rem 1rem;
}
.iiv-block-home-1 .iiv_card_text_date {
  text-align: right;
}
.iiv-block-home-1 .iiv_card_text_tags a {
  border: 1px solid var(--iivdark-text1);
  text-decoration: none;
  padding: 3px 6px;
  font-size: 0.821em;
  color: var(--iivdark-text1);
}
.iiv-block-home-1 .iiv_card_text_tags a:hover {
  border: 1px dashed var(--iivdark-text1);
}
.iiv-block-home-1 .iiv_card_text_title a {
  text-decoration: none;
}


/***** Home 2 *****/
.iiv-block-home-2 .iiv_home_2_card {
  border: solid 1px;
  margin-bottom: 1rem;
}
.iiv-block-home-2 .iiv_home_2_card .iiv_card_meta {
  text-align: center;
}
.iiv-block-home-2 .iiv_home_2_card .iiv_card_title {
  text-align: center;
}
.iiv-block-home-2 .iiv_home_2_card .iiv_card_title a {
  text-decoration: none;
  color: var(--iivdark-text1);
  transition: color 1s ease-out;
}
.iiv-block-home-2 .iiv_home_2_card .iiv_card_title a:hover {
  text-decoration: none;
  color: var(--iivdark-brand);
}
.iiv-block-home-2 .views-row:hover .iiv_home_2_card .iiv_card_title a {
  color: var(--iivdark-brand);
}

/***** Home 3 *****/
